<form
  class="js-cm-form"
  id="subForm"
  action="https://www.createsend.com/t/subscribeerror?description="
  method="post"
  data-id="191722FC90141D02184CB1B62AB3DC26A89CEAC4BE503579F18D12D5171E369733C726293D420B148B6452E237F77167196D9BB761A8472561FEB583DD290FC7"
>
  <div>
    <label for="fieldName">
      First Name<!-- -->
    </label>
    <input
      id="fieldName"
      maxlength="200"
      name="cm-name"
      placeholder=""
      required=""
    />
  </div>
  <div>
    <label for="fieldtdtyidy">
      Last Name<!-- -->
    </label>
    <input id="fieldtdtyidy" maxlength="200" name="cm-f-tdtyidy" required="" />
  </div>
  <div>
    <label for="fieldtdtyidj">
      Company Name<!-- -->
    </label>
    <input id="fieldtdtyidj" maxlength="200" name="cm-f-tdtyidj" required="" />
  </div>
  <div>
    <label for="fieldtdtydhj">
      Job Title<!-- -->
    </label>
    <input id="fieldtdtydhj" maxlength="200" name="cm-f-tdtydhj" required="" />
  </div>
  <div>
    <label for="fieldEmail">
      Email<!-- -->
    </label>
    <input
      autocomplete="Email"
      class="js-cm-email-input qa-input-email"
      id="fieldEmail"
      maxlength="200"
      name="cm-tdyddly-tdyddly"
      placeholder=""
      required=""
      type="email"
    />
  </div>
  <div>
    <label for="countryCode">
      Country Code<!-- -->
    </label>
    <span>
        <select id="fieldtdtydhl" name="cm-fo-tdtydhl" required="">
            <option value="2484273">+65 (SG)</option>
            <option value="2484274">+60 (MY)</option
            ><option value="2484275" selected>+62 (ID)</option>
            <option value="2484276">+63 (PH)</option>
            <option value="2484277">+66 (TH)</option>
            <option value="2484278">+84 (VN)</option
            ><option value="2484279">+86 (CN)</option>
            <option value="2484280">+852 (HK)</option>
            <option value="2484281">+61 (AU)</option><option value="2484282">+64 (NZ)</option>
            <option value="2484283">+91 (IN)</option><option value="2484284">+81 (JP)</option>
            <option value="2484285">+82 (KR)</option><option value="2484286">+1 (US/CA)</option>
            <option value="2484287">+44 (UK)</option>
        </select>
    </span>
  </div>
  <div>
    <label for="fieldtdtydhr">
      Phone Number<!-- -->
    </label>
    <input
      id="fieldtdtydhr"
      maxlength="200"
      name="cm-f-tdtydhr"
      required=""
      type="number"
      class="no-number-spinner"
    />
  </div>
  <div>
    <label for="fieldtdtydhy">
      Dietary Requirements<!-- -->
    </label>
    <input 
      id="fieldtdtydhy" 
      maxlength="200" 
      name="cm-f-tdtydhy"
      placeholder="e.g., Vegetarian, Vegan, Gluten-free, etc." 
      required="" 
      />
  </div>
  <div>
    <div>
      <input
        aria-required="false"
        id="cm-privacy-email"
        name="cm-privacy-email"
        type="checkbox"
      />
      <label for="cm-privacy-email">
        By checking this box, you agree to be contacted via phone and email
        regarding your interest in our products and services. We will treat your
        data in accordance with our privacy policy.
      </label>
    </div>
    <input
      id="cm-privacy-email-hidden"
      name="cm-privacy-email-hidden"
      type="hidden"
      value="true"
    />
  </div>
  <button class="mt-3" type="submit"> Register Now </button>
</form>
<script
  type="text/javascript"
  src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"
></script>
